<div style="font-family: Arial, sans-serif; font-size: 14px; color: #333;">
  <p style="font-size: 16px; font-weight: bold;">Hello <%= @resource.email %>!</p>

  <p style="margin-top: 16px;">Someone has requested a link to change your password. You can do this through the link below.</p>

  <p style="margin-top: 16px;">
    <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), style: "display: inline-block; padding: 10px 20px; margin-top: 10px; font-size: 16px; color: #fff; background-color: #de9d93; text-decoration: none; border-radius: 5px;" %>
  </p>

  <p style="margin-top: 16px;">If you didn't request this, please ignore this email.</p>
  <p style="margin-top: 16px;">Your password won't change until you access the link above and create a new one.</p>
</div>
